<h1>Welcome</h1>

<h3>Add a Stylist:</h3>
<form action="/stylists" method="post">
  <input type="text" name="name" placeholder="Name">
  <button type="submit" class="btn btn-success">Add Stylist</button>
</form><br>

<a href="/stylists">View Stylists</a>
