<% if @stylists.any?() %>
  <ul>
    <h1><em>All Stylists:</em></h1>
    <% @stylists.each() do |stylist| %>
      <li><a href="/stylists/<%= stylist.id() %>"><button type="button" class="btn btn-default"><%= stylist.name() %></button></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no stylists yet!</p>
<% end %>

<h3>Add a Stylist:</h3>
<form action="/stylists" method="post">
  <input type="text" name="name" placeholder="Name"><br>
  <button type="submit" class="btn btn-success">Add Stylist</button>
</form><br>

<h3>Add a client to any stylist:</h3>
<form action="/clients" method="post">
  <label for="stylist_id">Stylist:</label>
  <select id="stylist_id" name="stylist_id" type="text">
    <% @stylists.each() do |stylist| %>
      <option value="<%= stylist.id()%>"><%= stylist.name() %></option>
    <% end %>
  </select><br>

  <input id="first_name" name="first_name" type="text" placeholder="First Name"><br>
  <input id="last_name" name="last_name" type="text" placeholder="Last Name"><br>

  <button type="submit" class="btn btn-success">Add Client</button>
</form><br>



<a href="/"><button type="button" class="btn btn-info">Home</button></a>
